html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: darkred;
    color: white;
}