<!DOCTYPE html>
<html>
    <head>
        <title><%= name%></title>
        <link rel="stylesheet" href="../public/css/profile.css">
    </head>
    <body>
        <article>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= id %>.png" alt="<%= name%>">
        </article>
        <main>
            <h3><%= name%></h3>
        </main>
    </body>
</html>