<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= username%>'s profile</title>
        <link rel="stylesheet" href="../css/userProfile.css">
    </head>
    <body>
        <header>
            <h1><a href="/">Webdex</a></h1>
        </header>
        <nav>
            <div>
                <a>Name</a>
                <a>Type</a>
                <a>Ability</a>
            </div>
            <a href="/search">Search</a>
        </nav>
        <main>
            <div id="mainInformation">
                <img src="<%= profilePicture%>">
                <h3><%= username%></h3>
            </div>
        </main>
        <footer>
            <h4>Nicky Cheng 2022</h4>
        </footer>
    </body>
</html>