html{
    height: 100vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("https://archives.bulbagarden.net/media/upload/a/a7/PSMD_poster.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#container {
    margin-left: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginScreen {
    background-color: rgba(139, 0, 0, 0.5);
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    width: 50%;
    height: 30%;
}